/* ------------ body ------------ */
body {
  background-color: rgba(0, 0, 0, 0.05) !important;
}
/* ------------ header ------------ */
.header {
  min-height: 20vh;
  background-image: url("../img/bg2.jpg");
  background-size: 100% 200%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  padding: 10px;
}
#date {
  color: #fff;
  font-size: 6vw;
}
/* ------------ content ------------ */
.content {
  background-color: #fff;
  overflow: auto;
  max-height: 65vh;
  min-height: 65vh;
}
.content ul {
  padding: 0;
  margin: 0;
}
.item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px;
}
.item i.icon {
  font-size: 8vw;
}
.item i.icon:hover {
  cursor: pointer;
}
.fa-check-circle {
  color: #6eb200;
}
.item p.text {
  font-size: 8vw;
  margin-bottom: 0px;
  padding-left: 15px;
}
.item p.due-date {
  font-size: 3vw;
  margin-bottom: 0px;
}
.lineThrough {
  text-decoration: line-through;
  color: #ccc;
}
.item i.options-icon {
  font-size: 14vw;
}
.item i.options-icon:hover {
  cursor: pointer;
}
.item i.trash-icon:hover {
  color: #af0000;
  cursor: pointer;
}
.item .my-btn {
  background: transparent;
  border: none;
  padding: 0px;
}
.item .trash-icon {
  padding-right: 15px;
}
.item .form-container{
  font-size: 4vw;
}
.item .date-input {
  text-align: center;
}
.item .update-btn{
  font-size: 4vw;
  background-color: #4162f6;
}
.item .form-control {
  font-size: 3vw;
}
/* ------------ add item ------------ */
.add-to-do {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 8vw;
}
.add-to-do i {
  color: #4162f6;
  font-size: 10vw;
}
.add-to-do input {
  background-color: transparent;
  border: none;
  margin-left: 5px;
}

/* Media query for font sizes */
@media (min-width: 1200px) {
  #date {
    font-size: 3vw;
  }
  .add-to-do i {
    font-size: 4vw;
  }
  .item i.icon {
    font-size: 4vw;
  }
  .item i.options-icon {
    font-size: 7vw;
  }
  .item p.text {
    font-size: 4vw;
  }
  .item .form-container {
    font-size: 2vw;
  }
  .add-to-do {
    font-size: 4vw;
  }
  .item .form-control {
    font-size: 1.5vw;
  }
  .item .update-btn {
    font-size: 2vw;
  }
  .item p.due-date {
    font-size: 1.75vw;
  }
}
